$lato: "Lato Sans", Helvetica, sans-serif;
$bebas: "Bebas Neue", cursive;

$fsz-xl:2.5em;
$fsz-xmd:2em;
$fsz-md:1.5em;
$fsz-xsm:1.2em;
$fsz-sm:1em;

$reg: 400;
$sem: 600;
$bold: 900;

$ls-xl: 1rem;
$ls-md: .3rem;
$ls-sm: .1rem;

$mrg-xl: 2em;
$mrg-xmd: 1.5em;
$mrg-md: 1em;
$mrg-sm: 0.5em;

$primary: rgba(33, 37, 41, 0.902);
$secondary:rgb(197, 197, 197);

